@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  transition: width .8s;
  transition: .5s
}
body{
  background:#21222c;
}
#body{
  height: 100vh;
  width: 100vw;

}
#header{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;

  background: #121218;
  border-bottom:2px solid #8c8cb9 ;
}

#header h1{
  color: #e4e4e4;
  font-size: 1.2em;
}

#main{
  height: 70%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cronometro{
  display: flex;
  align-items: center;
  justify-content: center;


  position: relative;
}

.cronometro img{
  width: 150px;
}

.cronometro .timer{
  position: absolute;
  bottom: 50px;

  display: grid;
  place-content: center;

  font-weight: 900;
  font-size: 2.0em;
  color: #e4e4e4;
}

.btnArea{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btnArea button{
  width: 80px;

  background: #121218;
  color: #e4e4e4;
  border: 2px solid #8c8cb9;

  padding: 8px;
  border-radius: 10px;

  transition: .3s;
  cursor: pointer;
}

.btnArea button:hover{
  border: 2px solid rgb(255, 162, 162);
}
.btnArea button:active{
  background: #8c8cb9;
}

#footer{
  height: 20%;

  border-top: 2px solid #8c8cb9;

  background: #13141a;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

#footer a{
  color: #e4e4e4;
  font-size: 2em;

  transition: .3s;
}
#footer a:hover{
  transform: scale(1.5);
}